<h1>Necessary Expenditures</h1>
<div class="necessaryExpenses">
    @for(expense of necessaryExpenses$ | async;track expense.id){
        <app-expense-item [expense]="expense"
        (deleteExpenseEvent)="deleteExpense($event)"
        (updateExpenseEvent)="updateExpense($event)"/>
    }
</div>
<h1>unnecessary Expenses</h1>
<div class="unnecessaryExpenses">
    @for(expense of unnecessaryExpenses$ | async;track expense.id){
    <app-expense-item [expense]="expense" (deleteExpenseEvent)="deleteExpense($event)"
        (updateExpenseEvent)="updateExpense($event)" />
    }
</div>

